In [30]:
def remove_duplicates(input_str):
    words = input_str.split()
    seen = set()
    result = [word for word in words if not (word in seen or seen.add(word))]
    return ' '.join(result)

# Example usage
input_str = "Python is great and Java is also great"
print(remove_duplicates(input_str))

Python is great and Java also

In [3]:
def count_types(str1):
    letters, digits, special = 0, 0, 0
    for char in str1:
        if char.isalpha():
            letters += 1
        elif char.isdigit():
            digits += 1
        else:
            special += 1
    return letters, digits, special

# Test the function
print(count_types("P@#yn26at^&i5ve"))

(8, 3, 4)

In [5]:
def count_case(sample_str):
    upper, lower = 0, 0
    for char in sample_str:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    return upper, lower

# Test the function
sample_str = "The quick Brow Fox"
upper, lower = count_case(sample_str)
print(f"Upper case characters: {upper}, Lower case Characters: {lower}")

Upper case characters: 3, Lower case Characters: 12

In [29]:
def reverse_name(name):
    parts = name.split()
    reversed_parts = parts[::-1]
    return ' '.join(reversed_parts)

# Test the function
name = 'Ajit Pawar'
print(reverse_name(name))

Pawar Ajit

In [28]:
def reverse_individual_parts(name):
    parts = name.split()
    reversed_parts = [part[::-1] for part in parts]
    return ' '.join(reversed_parts)

# Test the function
name = 'Ajit Pawar'
print(reverse_individual_parts(name))

tijA rawaP

In [27]:
def count_occurrences(str1):
    return {char: str1.count(char) for char in set(str1)}

# Test the function
str1 = "Apple"
print(count_occurrences(str1))

{'p': 2, 'e': 1, 'A': 1, 'l': 1}

In [26]:
def remove_empty_strings(str_list):
    return [str for str in str_list if str]

# Test the function
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print(remove_empty_strings(str_list))

['Emma', 'Jon', 'Kelly', 'Eric']

In [25]:
def add_lists_indexwise(list1, list2):
    from itertools import zip_longest
    return [a + b for a, b in zip_longest(list1, list2, fillvalue='')]

# Test the function
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
print(add_lists_indexwise(list1, list2))

['My', 'name', 'is', 'Kelly']

In [24]:
def alternatelist(list1, list2):
    result = []
    for item1 in list1:
        for item2 in list2:
            result.append(item1 + item2)
    return result

# Test the function
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
print(alternatelist(list1, list2))

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [22]:
def count_even_odd(numbers):
    even_count = sum(1 for num in numbers if num % 2 == 0)
    odd_count = sum(1 for num in numbers if num % 2 != 0)
    return even_count, odd_count

# Test the function
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count, odd_count = count_even_odd(numbers)
print(f"Number of even numbers: {even_count}, Number of odd numbers: {odd_count}")

Number of even numbers: 4, Number of odd numbers: 5

In [23]:
def add_item_in_nested_list(list1):
    list1[2][2].append(7000)
    return list1

# Test the function
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(add_item_in_nested_list(list1))

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]