In [8]:
def count_characters(s):
    return len(s)

def reverse_string(s):
    return s[::-1]

def is_palindrome(s):
    return s == s[::-1]

def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join([char for char in s if char not in vowels])

def first_non_repeating(s):
    for char in s:
        if s.count(char) == 1:
            return char
    return None

# Test the functions with an example string
example_string = "Hello World"
print("Count Characters:", count_characters(example_string))
print("Reverse String:", reverse_string(example_string))
print("Is Palindrome:", is_palindrome(example_string))
print("Remove Vowels:", remove_vowels(example_string))
print("First Non-repeating Character:", first_non_repeating(example_string))
# first 5 exercise string

Count Characters: 11
Reverse String: dlroW olleH
Is Palindrome: False
Remove Vowels: Hll Wrld
First Non-repeating Character: H

In [14]:
def capitalize_first_letter(s):
    return ' '.join(word.capitalize() for word in s.split())

print("Capitalize First Letter:", capitalize_first_letter("hello world"))
#6

Capitalize First Letter: Hello World

In [17]:
def is_anagram(s1, s2):
    return sorted(s1) == sorted(s2)

print("Is Anagram:", is_anagram("listen", "silent"))
#7

Is Anagram: True

In [19]:
def most_frequent_char(s):
    return max(set(s), key = s.count)

print("Most Frequent Character:", most_frequent_char("hello world"))
#8

Most Frequent Character: l

In [21]:
import re
def is_valid_email(email):
    return bool(re.match(r"[^@]+@[^@]+\.[^@]+", email))

print("Is Valid Email:", is_valid_email("example@email.com"))
#9

Is Valid Email: True

In [23]:
def longest_substring(s):
    char_set = set()
    left = 0
    result = 0
    for right in range(len(s)):
        while s[right] in char_set:
            char_set.remove(s[left])
            left += 1
        char_set.add(s[right])
        result = max(result, right - left + 1)
    return result

print("Longest Substring Without Repeating:", longest_substring("abcabcbb"))

Longest Substring Without Repeating: 3

In [27]:
#List
#sum of all elemets in list
def sum_of_list(lst):
    return sum(lst)

print("Sum of List:", sum_of_list([1, 2, 3, 4, 5]))

Sum of List: 15

In [28]:
#remove duplicates from a list
def remove_duplicates(lst):
    return list(set(lst))

print("Remove Duplicates:", remove_duplicates([1, 2, 2, 3, 3, 4, 5]))

Remove Duplicates: [1, 2, 3, 4, 5]

In [31]:
#minimum and maximum in a list
def max_min_list(lst):
    return max(lst), min(lst)

print("Max and Min:", max_min_list([1, 2, 3, 4, 5]))

Max and Min: (5, 1)

In [32]:
# checking a sorted list
def is_sorted(lst):
    return lst == sorted(lst)

print("Is Sorted:", is_sorted([1, 2, 3, 4, 5]))

Is Sorted: True

In [34]:
def second_largest(lst):
    return sorted(set(lst))[-2]

print("Second Largest:", second_largest([1, 2, 3, 4, 5]))
#second larget element in a list

Second Largest: 4

In [37]:
#Alphabetically sorting a list
def sort_strings(lst):
    return sorted(lst)

print("Sorted Strings:", sort_strings(["banana", "apple", "cherry"]))

Sorted Strings: ['apple', 'banana', 'cherry']

In [39]:
#common elements between two list
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))

print("Common Elements:", common_elements([1, 2, 3], [3, 4, 5]))

Common Elements: [3]

In [41]:
# remove nth occurence of elements
def remove_nth_occurrence(lst, n, elem):
    count = 0
    for i in range(len(lst)):
        if lst[i] == elem:
            count += 1
            if count == n:
                del lst[i]
                break
    return lst

print("Remove Nth Occurrence:", remove_nth_occurrence([1, 2, 3, 2, 2, 4], 2, 2))

Remove Nth Occurrence: [1, 2, 3, 2, 4]

In [43]:
#difference between two lists
def difference_lists(lst1, lst2):
    return list(set(lst1) - set(lst2))

print("Difference:", difference_lists([1, 2, 3, 4, 5], [2, 3]))

Difference: [1, 4, 5]

In [46]:
#remove elemts divisible by 3
def remove_divisible_by_3(lst):
    return [x for x in lst if x % 3 != 0]

print("Remove Divisible by 3:", remove_divisible_by_3([1, 2, 3, 4, 5, 6]))

Remove Divisible by 3: [1, 2, 4, 5]

tuples

In [50]:
# tuple
#length of a tuple
def tuple_length(t):
    return len(t)

print("Tuple Length:", tuple_length((1, 2, 3, 4, 5)))

Tuple Length: 5

In [53]:
def concatenate_tuples(t1, t2):
    return t1 + t2

print("Concatenated Tuples:", concatenate_tuples((1, 2, 3), (4, 5, 6)))
#joinining/concatenate tuples

Concatenated Tuples: (1, 2, 3, 4, 5, 6)

In [55]:
#converting tuple to list
def tuple_to_list(t):
    return list(t)

print("Tuple to List:", tuple_to_list((1, 2, 3, 4, 5)))

Tuple to List: [1, 2, 3, 4, 5]

In [57]:
#find index of elemnts in tuple
def find_index(t, elem):
    return t.index(elem)

print("Index of Element:", find_index((1, 2, 3, 4, 5), 3))

Index of Element: 2

In [60]:
#check if elements are in tuple
def element_exists(t, elem):
    return elem in t

print("Element Exists:", element_exists((1, 2, 3, 4, 5), 3))

Element Exists: True

In [62]:
# counting the occurences of certain elements in a tuple
def count_occurrences(t, elem):
    return t.count(elem)

print("Count Occurrences:", count_occurrences((1, 2, 3, 4, 3, 3, 5), 3))

Count Occurrences: 3

In [64]:
#maximum and minimum in a tuple
def max_min_tuple(t):
    return max(t), min(t)

print("Max and Min:", max_min_tuple((1, 2, 3, 4, 5)))

Max and Min: (5, 1)

In [66]:
#revrse a tuple
def reverse_tuple(t):
    return t[::-1]

print("Reversed Tuple:", reverse_tuple((1, 2, 3, 4, 5)))

Reversed Tuple: (5, 4, 3, 2, 1)

In [68]:
# check if all elements are same
def all_elements_same(t):
    return all(elem == t[0] for elem in t)

print("All Elements Same:", all_elements_same((1, 1, 1, 1)))

All Elements Same: True

In [71]:
#combine if elements are in tuple
def combine_tuples(t1, t2):
    return tuple(a for pair in zip(t1, t2) for a in pair)

print("Combined Tuples:", combine_tuples((1, 2, 3), ('a', 'b', 'c')))

Combined Tuples: (1, 'a', 2, 'b', 3, 'c')

sets

In [73]:
# Union of Two Sets
def union_sets(set1, set2):
    return set1.union(set2)

print("# Union of Sets:", union_sets({1, 2, 3}, {3, 4, 5}))

# Intersection of Two Sets
def intersection_sets(set1, set2):
    return set1.intersection(set2)

print("# Intersection of Sets:", intersection_sets({1, 2, 3}, {3, 4, 5}))

# Check Subset
def is_subset(set1, set2):
    return set1.issubset(set2)

print("# Is Subset:", is_subset({1, 2}, {1, 2, 3}))

# Remove Duplicates from Set
def remove_duplicates(s):
    return set(s)

print("# Remove Duplicates:", remove_duplicates([1, 2, 2, 3, 3, 4, 5]))

# Add Element to Set
def add_element(s, elem):
    s.add(elem)
    return s

print("# Add Element:", add_element({1, 2, 3}, 4))

# Remove Element from Set
def remove_element(s, elem):
    s.discard(elem)
    return s

print("# Remove Element:", remove_element({1, 2, 3, 4}, 4))

# Difference Between Two Sets
def difference_sets(set1, set2):
    return set1.difference(set2)

print("# Difference of Sets:", difference_sets({1, 2, 3}, {3, 4, 5}))

# Check Disjoint Sets
def are_disjoint(set1, set2):
    return set1.isdisjoint(set2)

print("# Are Disjoint:", are_disjoint({1, 2, 3}, {4, 5, 6}))

# Symmetric Difference Between Two Sets
def symmetric_difference_sets(set1, set2):
    return set1.symmetric_difference(set2)

print("# Symmetric Difference:", symmetric_difference_sets({1, 2, 3}, {3, 4, 5}))

# Check if Set is Empty
def is_set_empty(s):
    return len(s) == 0

print("# Is Set Empty:", is_set_empty(set()))

# Union of Sets: {1, 2, 3, 4, 5}
# Intersection of Sets: {3}
# Is Subset: True
# Remove Duplicates: {1, 2, 3, 4, 5}
# Add Element: {1, 2, 3, 4}
# Remove Element: {1, 2, 3}
# Difference of Sets: {1, 2}
# Are Disjoint: True
# Symmetric Difference: {1, 2, 4, 5}
# Is Set Empty: True

Dictionary

In [75]:
# Iterate over a dictionary and print keys and values
def iterate_dict(d):
    for key, value in d.items():
        print(key, value)

iterate_dict({'a': 1, 'b': 2, 'c': 3})

a 1
b 2
c 3

In [77]:
# Check if a key exists in a dictionary
def key_exists(d, key):
    return key in d

print(key_exists({'a': 1, 'b': 2, 'c': 3}, 'b'))

True

In [79]:
# Get the value associated with a key in a dictionary
def get_value(d, key):
    return d.get(key, None)

print(get_value({'a': 1, 'b': 2, 'c': 3}, 'c'))

3

In [81]:
# Remove a key from a dictionary
def remove_key(d, key):
    d.pop(key, None)
    return d

print(remove_key({'a': 1, 'b': 2, 'c': 3}, 'b'))

{'a': 1, 'c': 3}

In [83]:
# Sort a dictionary by its values
def sort_by_value(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))

print(sort_by_value({'a': 3, 'b': 1, 'c': 2}))

{'b': 1, 'c': 2, 'a': 3}

In [85]:
# Sort a dictionary by its values
def sort_by_value(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))

print(sort_by_value({'a': 3, 'b': 1, 'c': 2}))

{'b': 1, 'c': 2, 'a': 3}

In [88]:
# Merge two dictionaries
def merge_dicts(d1, d2):
    return {**d1, **d2}

print(merge_dicts({'a': 1, 'b': 2}, {'c': 3, 'd': 4}))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [90]:
# Count the frequency of each element in a dictionary
def frequency_dict(d):
    freq = {}
    for key in d:
        freq[d[key]] = freq.get(d[key], 0) + 1
    return freq

print(frequency_dict({'a': 1, 'b': 2, 'c': 1, 'd': 2}))

{1: 2, 2: 2}

In [93]:
# Find the length of a dictionary
def length_dict(d):
    return len(d)

print(length_dict({'a': 1, 'b': 2, 'c': 3}))

3

In [94]:
# Check if a dictionary is empty
def is_empty_dict(d):
    return len(d) == 0

print(is_empty_dict({}))

True

In [96]:
# Find the keys with the maximum and minimum values in a dictionary
def max_min_keys(d):
    max_key = max(d, key=d.get)
    min_key = min(d, key=d.get)
    return max_key, min_key

print(max_min_keys({'a': 1, 'b': 2, 'c': 3}))

('c', 'a')

Range

In [98]:
# Iterate over a range of numbers and print them
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [100]:
# Find the sum of all numbers in a range
print(sum(range(1, 11)))

55

In [102]:
# Print all even numbers in a given range
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [104]:
# Print all odd numbers in a given range
for i in range(1, 11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [106]:
# Find the average of all numbers in a range
range_list = list(range(1, 11))
print(sum(range_list) / len(range_list))

5.5

In [108]:
# Check if a number is present in a given range
num = 5
if num in range(1, 11):
    print(f"{num} is in the range.")
else:
    print(f"{num} is not in the range.")

5 is in the range.

In [110]:
# Reverse a range of numbers and print them
for i in reversed(range(1, 11)):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [112]:
# Find the product of all numbers in a range
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

In [115]:
# Print the squares of all numbers in a range
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [118]:
# Print the cube of all numbers in a range
for i in range(1, 11):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [160]:
# Positive, Negative, or Zero
num = 5
if num > 0:
    print("Positive")

Positive

In [122]:
# Even or Odd
num = 4
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [124]:
# Leap Year Check
year = 2020
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

In [126]:
# Maximum of Three Numbers
a, b, c = 5, 7, 2
if a >= b and a >= c:
    print("Max is", a)
elif b >= a and b >= c:
    print("Max is", b)
else:
    print("Max is", c)

Max is 7

In [128]:
# Check Prime Number
num = 7
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

7 is a prime number

In [131]:
# Divisible by 3 and 5
num = 15
if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
else:
    print("Not divisible by both 3 and 5")

Divisible by both 3 and 5

In [133]:
# Vowel or Consonant
ch = 'a'
if ch in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Vowel

In [135]:
# Palindrome String Check
s = "radar"
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [137]:
# Largest Among Three Numbers (Nested If-Else)
a, b, c = 5, 7, 2
if a > b:
    if a > c:
        print("Largest is", a)
    else:
        print("Largest is", c)
else:
    if b > c:
        print("Largest is", b)
    else:
        print("Largest is", c)

Largest is 7

In [139]:
# Triangle Type Based on Sides
a, b, c = 5, 5, 5
if a == b and b == c:
    print("Equilateral Triangle")
elif a == b or b == c or a == c:
    print("Isosceles Triangle")
else:
    print("Scalene Triangle")

Equilateral Triangle

For loop exercises

In [141]:
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [143]:
# Calculate the sum of all numbers in a list
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(total)

15

In [145]:
# Find the factorial of a number
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(factorial)

120

In [147]:
# Print all even numbers between 1 and 50
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [149]:
# Print each character of a string
for char in "Hello":
    print(char)

H
e
l
l
o

In [162]:
# Print each element of a list of tuples
tuples = [(1, 2), (3, 4), (5, 6)]
for a, b in tuples:
    print(a, b)

1 2
3 4
5 6

while

In [164]:
# Common Elements Between Two Lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = set(list1).intersection(list2)
print("Common elements:", common_elements)

Common elements: {3, 4}

While

In [167]:
# Iterate Over a List of Tuples Using a While Loop
tuples_list = [(1, 'a'), (2, 'b'), (3, 'c')]
i = 0
while i < len(tuples_list):
    print("Tuple", i, ":", tuples_list[i])
    i += 1

Tuple 0 : (1, 'a')
Tuple 1 : (2, 'b')
Tuple 2 : (3, 'c')

In [169]:
# Find the Largest Element in a List Using a While Loop
numbers = [12, 75, 43, 92, 30]
largest = numbers[0]
i = 1
while i < len(numbers):
    if numbers[i] > largest:
        largest = numbers[i]
    i += 1
print("Largest number:", largest)

Largest number: 92

In [171]:
# Check if All Elements in a List are Even Using a While Loop
numbers = [2, 4, 6, 8, 10]
i = 0
all_even = True
while i < len(numbers):
    if numbers[i] % 2 != 0:
        all_even = False
        break
    i += 1
print("All elements are even:", all_even)

All elements are even: True

In [173]:
# Find Common Elements Between Two Lists Using a While Loop
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
i = 0
common_elements = set()
while i < len(list1):
    if list1[i] in list2:
        common_elements.add(list1[i])
    i += 1
print("Common elements:", common_elements)

Common elements: {3, 4}

In [178]:
# Check if All Elements in a List are Even Using a While Loop
numbers = [2, 4, 6, 8, 10]
i = 0
all_even = True
while i < len(numbers):
    if numbers[i] % 2 != 0:
        all_even = False
        break
    i += 1
print("All elements are even:", all_even)

All elements are even: True

In [180]:
# Find common elements between two lists using a while loop
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]
common_elements = []
i = 0
while i < len(list1):
    if list1[i] in list2:
        common_elements.append(list1[i])
    i += 1
print("Common elements:", common_elements)

Common elements: [4, 5]

In [182]:
# Calculate the sum of the digits of a number using a while loop
num = 1234
sum_digits = 0
while num > 0:
    sum_digits += num % 10
    num //= 10
print("Sum of digits:", sum_digits)

Sum of digits: 10

break

In [184]:
# Find the first occurrence of a number in a list using a for loop and break statement
numbers = [1, 3, 7, 8, 7]
target = 7
for index, number in enumerate(numbers):
    if number == target:
        print(f"First occurrence of {target} found at index {index}")
        break

First occurrence of 7 found at index 2

In [186]:
# Search for a specific element in a list using a while loop and break statement
elements = ['apple', 'banana', 'cherry']
search = 'banana'
i = 0
while i < len(elements):
    if elements[i] == search:
        print(f"{search} found at position {i}")
        break
    i += 1

banana found at position 1

In [188]:
# Find the prime numbers between 1 and 100 using a for loop and break statement
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [190]:
# Check if a number is present in a list using a while loop and break statement
numbers = [5, 8, 12, 15, 22]
target = 15
i = 0
while i < len(numbers):
    if numbers[i] == target:
        print(f"{target} found in the list")
        break
    i += 1

15 found in the list

In [192]:
# Find the largest palindrome number in a given range using a for loop and break statement
for num in range(100, 0, -1):
    if str(num) == str(num)[::-1]:
        print(f"Largest palindrome number is {num}")
        break

Largest palindrome number is 99

In [195]:
# Find the first negative number in a list using a while loop and break statement
numbers = [3, 5, -1, 7, -4, 9]
i = 0
while i < len(numbers):
    if numbers[i] < 0:
        print(f"First negative number: {numbers[i]}")
        break
    i += 1

First negative number: -1

In [196]:
# Print the elements of a list until a specific condition is met using a for loop and break statement
elements = [4, 7, 9, 1, 3]
for element in elements:
    if element > 5:
        break
    print(element)

4

In [198]:
# Search for a specific character in a string using a while loop and break statement
text = "hello world"
search_char = 'w'
i = 0
while i < len(text):
    if text[i] == search_char:
        print(f"Character '{search_char}' found at position {i}")
        break
    i += 1

Character 'w' found at position 6

In [200]:
# Find the first occurrence of a vowel in a string using a for loop and break statement
string = "python programming"
vowels = "aeiou"
for index, char in enumerate(string):
    if char in vowels:
        print(f"First vowel '{char}' found at position {index}")
        break

First vowel 'o' found at position 4

In [201]:
# Find the index of the first occurrence of a substring in a string using a while loop and break statement
string = "hello world"
substring = "world"
index = string.find(substring)
if index != -1:
    print(f"Substring '{substring}' found at position {index}")
else:
    print(f"Substring '{substring}' not found")

Substring 'world' found at position 6

Continue

In [203]:
# Print all the even numbers between 1 and 20 except for the number 10 using a for loop and continue statement
for num in range(1, 21):
    if num == 10 or num % 2 != 0:
        continue
    print(num)

2
4
6
8
12
14
16
18
20

In [205]:
# Print the elements of a list skipping the negative numbers using a while loop and continue statement
numbers = [4, -1, 7, -3, 9]
i = 0
while i < len(numbers):
    if numbers[i] < 0:
        i += 1
        continue
    print(numbers[i])
    i += 1

4
7
9

In [207]:
# Print the first 10 multiples of 3 except for the number 9 using a for loop and continue statement
for num in range(1, 11):
    multiple = num * 3
    if multiple == 9:
        continue
    print(multiple)

3
6
12
15
18
21
24
27
30

In [209]:
# Iterate over a string and print only the consonants using a for loop and continue statement
text = "Hello World"
vowels = "aeiouAEIOU"
for char in text:
    if char in vowels:
        continue
    print(char)

H
l
l

W
r
l
d

In [211]:
# Print the elements of a list skipping the even numbers using a while loop and continue statement
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
i = 0
while i < len(numbers):
    if numbers[i] % 2 == 0:
        i += 1
        continue
    print(numbers[i])
    i += 1

1
3
5
7
9

In [213]:
# Find the sum of all numbers between 1 and 100, excluding the multiples of 5 using a for loop and continue statement
total = 0
for num in range(1, 101):
    if num % 5 == 0:
        continue
    total += num
print("Sum excluding multiples of 5:", total)

Sum excluding multiples of 5: 4000

In [216]:
# Print the uppercase letters in a string using a while loop and continue statement
string = "Hello World"
i = 0
while i < len(string):
    if string[i].islower():
        i += 1
        continue
    print(string[i])
    i += 1

H

W

In [218]:
# Print the elements of a list skipping the elements divisible by 3 using a for loop and continue statement
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in numbers:
    if num % 3 == 0:
        continue
    print(num)

1
2
4
5
7
8

In [221]:
# Iterate over a list of tuples and print only the tuples with a specific condition using a while loop and continue statement
tuples = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
i = 0
while i < len(tuples):
    if tuples[i][0] % 2 != 0:  # Skip tuples where the first element is odd
        i += 1
        continue
    print(tuples[i])
    i += 1

(2, 'b')
(4, 'd')

In [222]:
# Print the numbers from 1 to 50, skipping the multiples of 7 using a for loop and continue statement
for num in range(1, 51):
    if num % 7 == 0:
        continue
    print(num)

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50